In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="dineshpc",
  database="NJCcode"
)

In [3]:
stmnt = mydb.cursor()

# let check the existing tables

In [7]:
stmnt.execute("create table Movies (name VARCHAR(255),director VARCHAR(255),actor VARCHAR(255),actress VARCHAR(255),year INT)")

# Movies table created Successfully

# Lets insert rows in the table

In [8]:
qry="insert into Movies(name,director,actor,actress,year) values(%s,%s,%s,%s,%s)"

In [9]:
val=[("Soorarai Potru","Sudha Kongara","Suriya","Aparna balamurali",2020),
("A Quiet Place","John Krasinski","John Krasinski","Emily Blunt",2018),
("Awe","Prashanth Varma","Srinivas Avasarala","Kajal",2018),
("Asuran","Vetrimaaran","Dhanush","Manju Warrier",2019),
("Petta","Karthik Subbaraj","Rajinikanth","Simran",2019),
("Vikram Vedha","	Pushkar–Gayathri","	Madhavan","Shraddha Srinath",2017),
("Kuttram 23","Arivazhagan","Arun Vijay"," Mahima Nambiar",2017)]

In [10]:
stmnt.executemany(qry,val)

# Retrieving all rows in the table

In [19]:
stmnt.execute("select * from Movies")

In [20]:
res = stmnt.fetchall()

In [21]:
for i in res:
    print(i)
    print("\n")

('Soorarai Potru', 'Sudha Kongara', 'Suriya', 'Aparna balamurali', 2020)


('A Quiet Place', 'John Krasinski', 'John Krasinski', 'Emily Blunt', 2018)


('Awe', 'Prashanth Varma', 'Srinivas Avasarala', 'Kajal', 2018)


('Asuran', 'Vetrimaaran', 'Dhanush', 'Manju Warrier', 2019)


('Petta', 'Karthik Subbaraj', 'Rajinikanth', 'Simran', 2019)


('Vikram Vedha', '\tPushkar–Gayathri', '\tMadhavan', 'Shraddha Srinath', 2017)


('Kuttram 23', 'Arivazhagan', 'Arun Vijay', ' Mahima Nambiar', 2017)

# Now lets try to select rows using codintions

In [22]:
qry = "SELECT * FROM Movies WHERE year =2018"

In [23]:
stmnt.execute(qry)

In [24]:
res=stmnt.fetchall()

In [25]:
for i in res:
    print(i)
    print("\n")

('A Quiet Place', 'John Krasinski', 'John Krasinski', 'Emily Blunt', 2018)


('Awe', 'Prashanth Varma', 'Srinivas Avasarala', 'Kajal', 2018)

# Retrieving only rows with actors having "y" in the name

In [34]:
qry="SELECT * FROM Movies WHERE actor LIKE '%y%'"

In [35]:
stmnt.execute(qry)

In [36]:
res=stmnt.fetchall()

In [37]:
for i in res:
    print(i)
    print("\n")

('Soorarai Potru', 'Sudha Kongara', 'Suriya', 'Aparna balamurali', 2020)


('Kuttram 23', 'Arivazhagan', 'Arun Vijay', ' Mahima Nambiar', 2017)

# Retrieving rows in descending and ascending order of years

In [39]:
qry="SELECT * FROM Movies ORDER BY year DESC"

In [40]:
stmnt.execute(qry)

In [41]:
res=stmnt.fetchall()

In [42]:
for i in res:
    print(i)
    print("\n")

('Soorarai Potru', 'Sudha Kongara', 'Suriya', 'Aparna balamurali', 2020)


('Asuran', 'Vetrimaaran', 'Dhanush', 'Manju Warrier', 2019)


('Petta', 'Karthik Subbaraj', 'Rajinikanth', 'Simran', 2019)


('A Quiet Place', 'John Krasinski', 'John Krasinski', 'Emily Blunt', 2018)


('Awe', 'Prashanth Varma', 'Srinivas Avasarala', 'Kajal', 2018)


('Vikram Vedha', '\tPushkar–Gayathri', '\tMadhavan', 'Shraddha Srinath', 2017)


('Kuttram 23', 'Arivazhagan', 'Arun Vijay', ' Mahima Nambiar', 2017)

In [43]:
qry="SELECT * FROM Movies ORDER BY year ASC"

In [44]:
stmnt.execute(qry)

In [45]:
res=stmnt.fetchall()

In [46]:
for i in res:
    print(i)
    print("\n")

('Vikram Vedha', '\tPushkar–Gayathri', '\tMadhavan', 'Shraddha Srinath', 2017)


('Kuttram 23', 'Arivazhagan', 'Arun Vijay', ' Mahima Nambiar', 2017)


('A Quiet Place', 'John Krasinski', 'John Krasinski', 'Emily Blunt', 2018)


('Awe', 'Prashanth Varma', 'Srinivas Avasarala', 'Kajal', 2018)


('Asuran', 'Vetrimaaran', 'Dhanush', 'Manju Warrier', 2019)


('Petta', 'Karthik Subbaraj', 'Rajinikanth', 'Simran', 2019)


('Soorarai Potru', 'Sudha Kongara', 'Suriya', 'Aparna balamurali', 2020)